body {
    background: #027cc9;
    background: -moz-linear-gradient(top, #027cc9 0%, #fcffff 77%, #fcffff 100%);
    background: -webkit-linear-gradient(top, #027cc9 0%,#fcffff 77%,#fcffff 100%);
    background: linear-gradient(to bottom, #027cc9 0%,#fcffff 77%,#fcffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#027cc9', endColorstr='#fcffff',GradientType=0 );
}
